@{
    ViewData["Title"] = "AcessiDoc";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tela Inicial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <div class="container-main">
        <div class="container-nome-sistema">
            <strong>
                <font color="#FFFFF" size="20">
                    <h1>AcessiDoc</h1>
                </font>
            </strong>
            <div class="container-formulario">
                @if (ViewData["Erro"] != null)
                {
                    <div class="container-upload">
                        <img src="~/images/sinal-de-aviso.png" width="200" />
                    </div>
                    <div>
                        <h4>@ViewData["Erro"]</h4>
                    </div>
                }
                else if (ViewData["Resultado"] != null)
                {
                    <div class="container-upload">
                        <img src="~/images/carraca.png" width="200" />
                    </div>
                    <div>
                        <h4>@ViewData["Resultado"]</h4>
                        <p>Para fazer o download do arquivo processado, clique no link abaixo:</p>
                        <a href="@ViewData["FileProcessedPath"]">Baixar Arquivo Processado</a>
                        <hr />
                        @if (ViewData["Arquivos"] != null)
                        {
                            foreach (string arquivo in (List<string>)ViewData["Arquivos"])
                            {
                                <li> @arquivo </li>
                            }
                        }
                    </div>
                }
            </div>
            <footer>
                @{
                    var anoAtual = DateTime.Now.Year;
                }
                <font color="#FFFFF" size="3">
                    &copy; @anoAtual - AcessiDoc
                </font>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/api/ProcessarFormulario.js" asp-append-version="true"></script>
</body>
</html>